@using JabbR
@model SettingsViewModel

<section id="dialog-container" aria-hidden="true" aria-haspopup="true">
    <div id="document-dialog" class="modal hide fade document-workspace">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h2 class="title"></h2>
        </div>
        <div class="modal-body">
            <div id="remote-document"></div>
        </div>
    </div>
    <div id="disconnect-dialog" class="modal hide fade">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <div class="jabbrLogo" id="logo"></div><h3>@LanguageResources.Client_JabbrError</h3>
        </div>
        <div class="modal-body">
            <p>@LanguageResources.Client_JabbrErrorMessage</p>
        </div>
    </div>
    <div id="download-dialog" class="modal hide fade">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>@LanguageResources.Client_DownloadMessages</h3>
        </div>
        <div class="modal-body">
            <p>@LanguageResources.Client_DownloadMessagesDateRange</p>
            <p>
                <select id="download-range">
                    <option value="last-hour">@LanguageResources.Client_DateRangeLastHour</option>
                    <option value="last-day">@LanguageResources.Client_DateRangeLastDay</option>
                    <option value="last-week">@LanguageResources.Client_DateRangeLastWeek</option>
                    <option value="last-month">@LanguageResources.Client_DateRangeLastMonth</option>
                    <option value="all">@LanguageResources.Client_DateRangeAll</option>
                </select>
            </p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary" id="download-dialog-button">@LanguageResources.Client_Download</a>
        </div>
    </div>
    <div id="emotelist-dialog" title="emote list"></div>
    <div id="jabbr-help" class="modal hide fade">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>@LanguageResources.Client_Help</h3>
        </div>
        <div class="modal-body">
            <div class="help-body">
                @if (Model.ShowDetails)
                {
                    <div id="releaseArea">
                        <p>
                            @Html.Raw(String.Format(LanguageResources.Client_DeploymentInfo,
                                                            Model.Sha,
                                                            Model.Sha.Substring(0, 10),
                                                            Model.Branch,
                                                            Model.Time))
                        </p>
                    </div>
                }
                <div class="command-list">
                    <h3>@LanguageResources.Client_FAQ</h3>
                    @Html.Raw(LanguageResources.Client_FAQMessage)
                </div>
                <h3>@LanguageResources.Client_SiteWideShortcuts</h3>
                <dl id="shortcut" class="command-list"></dl>
                <h3>@LanguageResources.Client_SiteWideCommands</h3>
                <dl id="global" class="command-list"></dl>
                <h3>@LanguageResources.Client_RoomCommands</h3>
                <dl id="room" class="command-list"></dl>
                <h3>@LanguageResources.Client_UserCommands</h3>
                <dl id="user" class="command-list"></dl>
            </div>
        </div>
    </div>
    <div id="jabbr-update" class="modal hide fade">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <div class="jabbrLogo" id="logo"></div><h3>@LanguageResources.Client_RefreshRequiredHeader</h3>
        </div>
        <div class="modal-body">
            <p>@LanguageResources.Client_RefreshRequiredNotification</p>
        </div>
    </div>
    <div id="reloadMessageNotification" class="reload-message alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button><a href="#">@LanguageResources.Client_LoadMissingMessages</a>
    </div>
    <div id="loadingRoomHistory" class="loading-room-history alert alert-info">
        <i class="icon-spinner icon-spin"></i> @LanguageResources.Client_LoadingPreviousMessages
    </div>
    <div id="splash-screen" class="splash-screen-overlay">
        <div class="splash-logo">@LanguageResources.SiteName</div>
    </div>
    <div id="jabbr-upload-preview" class="modal hide fade">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>@LanguageResources.Client_UploadingFromClipboard</h3>
        </div>
        <div class="modal-body">
            <div class="help-body">
                <img id="image-upload-preview" />
                <span id="unknown-upload-preview">@LanguageResources.Client_UploadNoPreview</span>
            </div>
        </div>
        <div class="modal-footer">
            <a id="upload-preview-cancel" class="btn btn-secondary" href="#">@LanguageResources.Client_Cancel</a>
            <a id="upload-preview-upload" class="btn btn-primary" href="#">@LanguageResources.Client_Upload</a>
        </div>
    </div>
</section>