@using JabbR
@model SettingsViewModel

<header id="heading" role="heading">
    <div class="banner" role="banner">
        <h1>Collara</h1>
    </div>
    <div id="main-tab-container">
        <ul id="tabs" role="tablist">
            <li id="tabs-lobby" class="current lobby no-close" data-name="Lobby" data-trimmable="false" role="tab">
                <a accesskey="l">
                    <span class="content">@LanguageResources.Client_Home</span>
                </a>
            </li>
        </ul>
    </div>
    <div id="main-menu" class="pull-right">
        <div id="tabs-dropdown-container" role="tablist">
            <button class="dropdown-toggle" data-toggle="dropdown" id="tabs-dropdown-rooms">
                <i class="icon-chevron-down"></i>
            </button>

            <ul id="tabs-dropdown" class="dropdown-menu pull-right" aria-labelledby="tabs-dropdown-rooms"></ul>
        </div>
        <div id="connectionStatus" class="connection-status" data-toggle="popover" data-placement="bottom">
            <i class="icon-connection-status"></i>
            <div id="connection-info-popover" class="popover"><div class="arrow"></div><div class="popover-inner"><i class="popover-title-icon icon-globe" style="display: none;"></i><h3 class="popover-title" style="display: none;"></h3><div class="popover-content"><p></p></div></div></div>
            <div id="connection-info-content" style="display: none;"><p id="connection-status"></p><p id="connection-transport"></p></div>
            <div id="connection-state-changed-popover" class="popover"><div class="arrow"></div><div class="popover-inner"><h3 class="popover-title" style="display: none;"></h3><i id="popover-content-icon"></i><div class="popover-content"><p></p></div></div></div>
        </div>
        <div id="preferences" class="navbar account pull-right">
            <div class="navbar-inner">
                <ul class="nav">
                    <li class="username"><a>@ViewBag.Username</a></li>
                    <li><a id="emotelist" class="" title="@LanguageResources.Client_EmoteList" href="#"><i class="icon-meh"></i></a></li>
                    <li><a id="notifications" class="" title="@LanguageResources.Client_Notifications" href="@Url.Content("~/notifications")" target="_blank"><i class="icon-comments"></i><span id="notification-unread-count" class="badge badge-info"></span></a></li>
                    <li><a class="" title="@LanguageResources.Client_AccountSettings" href="@Url.Content("~/account")" target="_blank"><i class="icon-user"></i></a></li>
                    @if (Model.IsAdmin)
                    {
                        <li><a class="" title="@LanguageResources.Client_JabbrSettings" href="@Url.Content("~/administration")" target="_blank"><i class="icon-cog"></i></a></li>
                    }
                    <li><a class="help" aria-haspopup="true" title="@LanguageResources.Client_DisplayHelp"><i class="icon-question-sign"></i></a></li>
                    <li><a class="logout" title="@LanguageResources.Client_SignOut"><i class="icon-signout"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="room-actions" class="btn-group pull-right">
        <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">@LanguageResources.Client_RoomSettings <span class="caret"></span></button>
        <ul id="room-preferences" class="dropdown-menu">
            <li><a class="sound" title="audible notifications"><i class="icon-sound"></i> @LanguageResources.Client_AudibleNotifications</a></li>
            <li><a class="richness" title="toggle rich-content"><i class="icon-richness"></i> @LanguageResources.Client_ToggleRichContent</a></li>
            <li><a class="toast" title="popup notifications" aria-haspopup="true"><i class="icon-toast"></i> @LanguageResources.Client_PopupNotifications</a></li>
            <li><a class="download" title="download messages" aria-haspopup="true"><i class="icon-download"></i> @LanguageResources.Client_DownloadMessages</a></li>
        </ul>
    </div>
</header>

